@import "./common/sass/base.scss";
@import "./common/sass/common.scss";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css);
html,
body {
    margin: 0; //background:#ff8292;
    font-family: PingFang, miui, PingHei, San Francisco, MILanTing, '小米兰亭', '微软雅黑', DeliciousRoman, sans-serif;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

::-webkit-scrollbar {
    opacity: 0;
    width: 0;
    height: 0;
}

#app {
    height: 100%;
}








